#macro (loginMessage $field)
    #if (!$field.valid) $field.message #end
#end

$page.setTitle("登录页面")
<p>$message</p>

<form action="$app1Link.setTarget("form/login")" method="post">
    $csrfToken.hiddenField
     <input type="hidden" name="action" value="LoginAction"/>
    #set ($group = $form.login.defaultInstance)
    <p>登录</p>
    <p> &nbsp;$group.userName.displayName&nbsp;
    <input type="text" name="$group.userName.key"
           value="$!group.userName.value"><span>#loginMessage ($group.userName)</span></p>

    <p>&nbsp;$group.password.displayName
    &nbsp;&nbsp;<input type="password" name="$group.password.key"
                 value="$!group.password.value"><span>#loginMessage ($group.password)</span></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="登陆" name="event_submit_do_login"></p>
</form>





